<%- include('partials/header'); -%>

<form action="/reset-password" method="POST">
  <h2>Reset Password</h2>
  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="enter email" value="" required />
  <div class="email error"><% if(errors){%>   <%= errors.email %> <%}%></div>
  <button>Reset Password</button>
  
</form>



<%- include('partials/footer'); -%>