<%- include('partials/header'); -%>

<form action="/reset/<%= reset %>" method="POST">
  <h2>Update password</h2>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"><% if(errors){%>   <%= errors.password %> <%}%></div>
  <button>Update Password</button>
  
</form>

<%- include('partials/footer'); -%>