
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <!-- <title>Document</title> -->

    <style>
        body {
          background-color: linen;
        }
        
        h1 {
          color: maroon;
          margin-left: 40px;
        }

        p{

            color:blue;
            width:300px;
        }
        </style>
</head>
<body>

   <h1>Dear  <%= email   %></h1>

    <p>Your temporary Password is <%= password %> . Please Login to Dashboard and change it</p>  

    <p>Thank you !</p>

    <%= appname %>


    
    
</body>
</html>